<div class='box'>
  <h3><%= 'Custom field id settings' %></h3>
  <p>
    <label><%= 'actual start date custom field id' %></label>
    <%=
      number_field_tag 'settings[actual_start_date]',
      Setting.plugin_redmine_actual_date['actual_start_date'],
      min: 1
    %>
  </p>
  <p>
    <label><%= 'actual end date custom field id' %></label>
    <%=
      number_field_tag 'settings[actual_end_date]',
      Setting.plugin_redmine_actual_date['actual_end_date'],
      min: 1
    %>
  </p>
</div>
<div class='box'>
  <h3><%= 'Issue page settings' %></h3>
  <p>
    <label><%= 'rearrange date information' %></label>
    <%=
      check_box_tag 'settings[rearrange_date_information_on_issue]',
      1, Setting.plugin_redmine_actual_date[:rearrange_date_information_on_issue]
    %>
  </p>
</div>
